.elementor-163944 .elementor-element.elementor-element-1106d9bb{padding:30px 30px 30px 30px;}.elementor-163944 .elementor-element.elementor-element-6ae0b636 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-163944 .elementor-element.elementor-element-790532cb{text-align:center;}.elementor-163944 .elementor-element.elementor-element-790532cb .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Gotham", Open-sans;font-size:21px;font-weight:bold;line-height:1.3em;}.elementor-163944 .elementor-element.elementor-element-790532cb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 0px 0px;}.elementor-163944 .elementor-element.elementor-element-5c93538 img{width:55%;box-shadow:0px 0px 6px 2px rgba(0, 0, 0, 0.2);}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button .elementor-align-icon-right{margin-left:5px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button .elementor-align-icon-left{margin-right:5px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group{padding-right:calc( 18px/2 );padding-left:calc( 18px/2 );margin-bottom:15px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-form-fields-wrapper{margin-left:calc( -18px/2 );margin-right:calc( -18px/2 );margin-bottom:-15px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-labels-inline .elementor-field-group > label{padding-left:3px;}body:not(.rtl) .elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-labels-inline .elementor-field-group > label{padding-right:3px;}body .elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-labels-above .elementor-field-group > label{padding-bottom:3px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group > label{font-family:"Avenir", Open-sans;font-size:16px;font-weight:600;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-type-html{padding-bottom:0px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group .elementor-field, .elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-subgroup label{font-family:"Avenir", Open-sans;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:var( --e-global-color-cdb0924 );}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group .elementor-select-wrapper select{background-color:var( --e-global-color-cdb0924 );}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button{font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-secondary );color:#F7F8FC;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button[type="submit"]{background-color:var( --e-global-color-secondary );color:#F7F8FC;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button[type="submit"] svg *{fill:#F7F8FC;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__indicators__indicator, .elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__indicators__indicator__label{font-family:"Gotham", Open-sans;}.elementor-163944 .elementor-element.elementor-element-44bd8a12{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-primary-color:var( --e-global-color-7ae69a1 );--e-form-steps-indicator-active-secondary-color:var( --e-global-color-secondary );--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-type-html{padding-bottom:0px;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .e-form__buttons__wrapper__button-next{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-button[type="submit"]{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-163944 .elementor-element.elementor-element-76643b8{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}#elementor-popup-modal-163944 .dialog-message{width:600px;height:auto;}#elementor-popup-modal-163944{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-163944 .dialog-close-button{display:flex;}#elementor-popup-modal-163944 .dialog-widget-content{background-color:var( --e-global-color-7ae69a1 );border-radius:8px 8px 8px 8px;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-163944 .dialog-close-button i{color:var( --e-global-color-d69796c );}#elementor-popup-modal-163944 .dialog-close-button svg{fill:var( --e-global-color-d69796c );}@media(max-width:767px){.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-group > label{font-size:15px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-button{font-size:18px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__indicators__indicator, .elementor-163944 .elementor-element.elementor-element-44bd8a12 .e-form__indicators__indicator__label{font-size:14px;}.elementor-163944 .elementor-element.elementor-element-44bd8a12{--e-form-steps-indicators-spacing:15px;}#elementor-popup-modal-163944 .dialog-close-button{top:2%;}body:not(.rtl) #elementor-popup-modal-163944 .dialog-close-button{right:3.7%;}body.rtl #elementor-popup-modal-163944 .dialog-close-button{left:3.7%;}}/* Start custom CSS for form, class: .elementor-element-44bd8a12 */.elementor-163944 .elementor-element.elementor-element-44bd8a12 {
    font-family: "Avenir", Sans-Serif;
}

.elementor-163944 .elementor-element.elementor-element-44bd8a12 div:not(.elementor-field-group-field_2932e80) label {
    font-size: 15px;
    vertical-align: top;
    padding-left:0px;
    margin-bottom: 10px;
}
.elementor-163944 .elementor-element.elementor-element-44bd8a12 input[type="radio"] {
    margin-bottom: 12px;
    padding-top:10px !important;
}


.elementor-163944 .elementor-element.elementor-element-44bd8a12 .elementor-field-type-html {
    margin-bottom: 8px !important;
}

.elementor-field-group-field_5b2c5f5 span {
    display: inline !important;
}

.elementor-field-group-field_5b2c5f5 .elementor-field-option  {
    flex-basis: 50% !important;
}

.elementor-field-group-field_2932e80 label {
    margin-bottom: 2px !important;
}
.elementor-field-group-company label {
    margin-bottom: 2px !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Book_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Book_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BookItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BookItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Bold_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Bold_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BoldItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BoldItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Medium_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Medium_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-MediumItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-MediumItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLight_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Light_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Light_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-LightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-LightItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Black_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Black_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BlackItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BlackItalic_Web.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/Avenir-Book.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/Avenir-Book.woff') format('woff');
}
/* End Custom Fonts CSS */