.elementor-91 .elementor-element.elementor-element-eba8e06 > .elementor-container{max-width:1080px;}.elementor-91 .elementor-element.elementor-element-eba8e06:not(.elementor-motion-effects-element-type-background), .elementor-91 .elementor-element.elementor-element-eba8e06 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-91 .elementor-element.elementor-element-eba8e06, .elementor-91 .elementor-element.elementor-element-eba8e06 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-91 .elementor-element.elementor-element-eba8e06{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 0px 40px 0px;}.elementor-91 .elementor-element.elementor-element-eba8e06 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-91 .elementor-element.elementor-element-9c18199{margin-top:0px;margin-bottom:20px;padding:0px 0px 0px 0px;}.elementor-91 .elementor-element.elementor-element-3e1b924{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-3e1b924 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-3e1b924 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-7a82df8{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-085cc49{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-0f38924{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-0f38924 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-0f38924 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-ab43e10{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-23a86f0{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-1d52404{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-1d52404 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-1d52404 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-647d40c{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-0f98a4e{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-741aed0{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-741aed0 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-741aed0 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-f6d1baf{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-d3fde8a{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-35fc89e{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-35fc89e .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-35fc89e .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-e8a7d99{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-0b41ffa{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-7996b01{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-7996b01 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-7996b01 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-41d9091{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-660bf4b{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-135457f{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-135457f .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-135457f .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-c3f470b{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-6e6cb57{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-34281f7{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-34281f7 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-34281f7 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-b40cb8c{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-a831ac8{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-41d480a{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-41d480a .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-41d480a .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-6c1f932{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-cc1da1c{color:#FFFFFF;font-family:"Lato", Open-sans;font-size:16px;line-height:1.5em;}.elementor-91 .elementor-element.elementor-element-34068b2{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-91 .elementor-element.elementor-element-34068b2 .elementor-divider-separator{width:90px;}.elementor-91 .elementor-element.elementor-element-34068b2 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-91 .elementor-element.elementor-element-f465615{color:#FFFFFF;font-family:"Gotham", Open-sans;font-size:15px;font-weight:500;line-height:1.4em;}.elementor-91 .elementor-element.elementor-element-2eb345d{--grid-template-columns:repeat(6, auto);--icon-size:20px;--grid-column-gap:0px;--grid-row-gap:0px;}.elementor-91 .elementor-element.elementor-element-2eb345d .elementor-widget-container{text-align:left;}.elementor-91 .elementor-element.elementor-element-2eb345d .elementor-social-icon{background-color:#3E2F2F00;}.elementor-91 .elementor-element.elementor-element-2eb345d .elementor-social-icon i{color:#FFFFFF;}.elementor-91 .elementor-element.elementor-element-2eb345d .elementor-social-icon svg{fill:#FFFFFF;}.elementor-91 .elementor-element.elementor-element-2eb345d > .elementor-widget-container{margin:-12px 0px 0px -12px;}.elementor-91 .elementor-element.elementor-element-049ccd7:not(.elementor-motion-effects-element-type-background), .elementor-91 .elementor-element.elementor-element-049ccd7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-7ae69a1 );}.elementor-91 .elementor-element.elementor-element-049ccd7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 60px 0px;}.elementor-91 .elementor-element.elementor-element-049ccd7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-91 .elementor-element.elementor-element-8600e85{text-align:center;}.elementor-91 .elementor-element.elementor-element-8600e85 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-91 .elementor-element.elementor-element-1551c42{text-align:center;color:#909090;font-size:14px;font-weight:400;}.elementor-91 .elementor-element.elementor-element-65f5a25 img{width:18px;}@media(max-width:767px){.elementor-91 .elementor-element.elementor-element-83e99ae{width:50%;}.elementor-91 .elementor-element.elementor-element-246c06a{width:50%;}.elementor-91 .elementor-element.elementor-element-1fbbf52{width:50%;}.elementor-91 .elementor-element.elementor-element-fbf45d2{width:50%;}.elementor-91 .elementor-element.elementor-element-17e6726{width:100%;}.elementor-91 .elementor-element.elementor-element-35fc89e .elementor-divider{text-align:center;}.elementor-91 .elementor-element.elementor-element-35fc89e .elementor-divider-separator{margin:0 auto;margin-center:0;}.elementor-91 .elementor-element.elementor-element-e8a7d99{text-align:center;}.elementor-91 .elementor-element.elementor-element-0b41ffa{text-align:center;}.elementor-91 .elementor-element.elementor-element-c4fe684{margin-top:0px;margin-bottom:0px;}.elementor-91 .elementor-element.elementor-element-b0a800f{width:50%;}.elementor-91 .elementor-element.elementor-element-8e9c4b5{width:50%;}.elementor-91 .elementor-element.elementor-element-e0ab589{width:50%;}.elementor-91 .elementor-element.elementor-element-b8fa1a3{width:50%;}.elementor-91 .elementor-element.elementor-element-34068b2 .elementor-divider{text-align:center;}.elementor-91 .elementor-element.elementor-element-34068b2 .elementor-divider-separator{margin:0 auto;margin-center:0;}.elementor-91 .elementor-element.elementor-element-f465615{text-align:center;}.elementor-91 .elementor-element.elementor-element-2eb345d .elementor-widget-container{text-align:center;}}@media(min-width:768px){.elementor-91 .elementor-element.elementor-element-83e99ae{width:20.66%;}.elementor-91 .elementor-element.elementor-element-246c06a{width:21.603%;}.elementor-91 .elementor-element.elementor-element-1fbbf52{width:17.926%;}.elementor-91 .elementor-element.elementor-element-fbf45d2{width:18.11%;}.elementor-91 .elementor-element.elementor-element-17e6726{width:21.701%;}.elementor-91 .elementor-element.elementor-element-b0a800f{width:20.849%;}.elementor-91 .elementor-element.elementor-element-8e9c4b5{width:21.414%;}.elementor-91 .elementor-element.elementor-element-e0ab589{width:17.718%;}.elementor-91 .elementor-element.elementor-element-b8fa1a3{width:19.245%;}.elementor-91 .elementor-element.elementor-element-6c89f19{width:20.755%;}}@media(max-width:1024px) and (min-width:768px){.elementor-91 .elementor-element.elementor-element-6efc8a8{width:100%;}}/* Start custom CSS for text-editor, class: .elementor-element-7a82df8 */.elementor-91 .elementor-element.elementor-element-7a82df8 a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-7a82df8 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-085cc49 */.elementor-91 .elementor-element.elementor-element-085cc49 a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-ab43e10 */.elementor-91 .elementor-element.elementor-element-ab43e10 a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-ab43e10 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-23a86f0 */.elementor-91 .elementor-element.elementor-element-23a86f0 a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-647d40c */.elementor-91 .elementor-element.elementor-element-647d40c a {
    color: #fff;
    font-family: "Gotham", Sans-Serif;
}

.elementor-91 .elementor-element.elementor-element-647d40c p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-0f98a4e */.elementor-91 .elementor-element.elementor-element-0f98a4e a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-f6d1baf */.elementor-91 .elementor-element.elementor-element-f6d1baf a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-f6d1baf p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d3fde8a */.elementor-91 .elementor-element.elementor-element-d3fde8a a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-e8a7d99 */.elementor-91 .elementor-element.elementor-element-e8a7d99 a {
    color: #fff;
    font-family: "Gotham", Sans-Serif;
}

.elementor-91 .elementor-element.elementor-element-e8a7d99 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-0b41ffa */.elementor-91 .elementor-element.elementor-element-0b41ffa a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-41d9091 */.elementor-91 .elementor-element.elementor-element-41d9091 a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-41d9091 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-660bf4b */.elementor-91 .elementor-element.elementor-element-660bf4b a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-c3f470b */.elementor-91 .elementor-element.elementor-element-c3f470b a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-c3f470b p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6e6cb57 */.elementor-91 .elementor-element.elementor-element-6e6cb57 a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-b40cb8c */.elementor-91 .elementor-element.elementor-element-b40cb8c a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-b40cb8c p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-a831ac8 */.elementor-91 .elementor-element.elementor-element-a831ac8 a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6c1f932 */.elementor-91 .elementor-element.elementor-element-6c1f932 a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-6c1f932 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-cc1da1c */.elementor-91 .elementor-element.elementor-element-cc1da1c a {
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-f465615 */.elementor-91 .elementor-element.elementor-element-f465615 a {
    color: #fff;
}

.elementor-91 .elementor-element.elementor-element-f465615 p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Book_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Book_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BookItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BookItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Bold_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Bold_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BoldItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BoldItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Medium_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Medium_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-MediumItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-MediumItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLight_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-XLightItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Light_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Light_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-LightItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-LightItalic_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Black_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-Black_Web.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BlackItalic_Web.woff2') format('woff2'),
		url('https://www.digitalmarketer.com/wp-content/uploads/2021/08/GothamSSm-BlackItalic_Web.woff') format('woff');
}
/* End Custom Fonts CSS */